.header-container, .pickup-container, .container, .footer-container{
    width: 1100px;
    margin: 0 auto;
}

.pickup-container, .container, .footer-container{
    display: flex;
}

.footer-container{
    padding: 30px 0 50px;
}

.readMore{
    text-decoration: underline;
}

.readMore:hover{
    text-decoration: none;
}

.fa-calendar-days{
    padding-right: 5px;
}

.hamburger-menu{
    display: none;
}

/* ヘッダー */
.header-logo{
    padding: 20px;
}

.header-nav{
    background-color: rgb(54, 54, 54);
}

.header-nav ul{
    display: flex;
}

.header-nav li{
    color: white;
    padding: 10px;
    padding-right: 60px;
}

/* ピックアップ */
.pickup-contents{
    width: 100%;
    padding: 30px 10px 10px 10px;
    text-align: center;
}

.pickup-title{
    padding: 15px 0 15px;
}

.pickup-title h2, .main-lead p{
    text-align: left;
    line-height: 1.8;
    padding-bottom: 10px;
}

.pickup-contents img, .main-contents img{
    width: 100%;
}

/* メイン */
.main-area{
    width: 66%;
}

.main-contents{
    padding: 50px 10px 10px 10px;
}

.main-title{
    text-align: left;
}

.main-title h2{
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
}

.main-data{
    padding: 10px 0 10px;
}

.main-lead{
    text-align: center;
    padding: 20px;
    line-height: 1.8;
}

.main-lead p{
    text-align: left;
    line-height: 1.8;
    padding-bottom: 20px;
}

/* サイドエリア */
.aside-area{
    width: 34%;
}

.profile{
    padding: 50px 20px 20px 20px;
    text-align: center;
}

.profile img{
    width: 30%;
    border-radius: 50%;
}

.profile-name{
    padding: 25px;
    font-weight: bold;
    font-size: 18px;
}

.profile-text{
    text-align: left;
    font-size: 15px;
    line-height: 1.3;
}

.ranking{
    padding: 20px;
}

.ranking-heading, .archive-heading{
    text-align: center;
    font-weight: bold;
    padding: 20px 0 30px 0;
    font-size: 18px;
}

.ranking-contents img{
    width: 100%;
    padding-bottom: 10px;
}

.ranking-contents{
    padding-bottom: 30px;
}

.archive{
    padding: 20px;
}

.archive-item{
    padding: 20px;
    border-top: solid 1px black;
}

/* フッター */
footer{
    margin-top: 200px;
    background-color: #f7f7f7;
}

.footer-heading{
    text-align: left;
    font-weight: bold;
    padding: 20px 0 30px 0;
    font-size: 18px;
}

.about{
    width: 100%;
    padding: 30px;
}

.about-text{
    padding-bottom:20px;
    line-height: 1.3;
}

.about-menu li{
    padding: 5px;
}

.menu{
    width: 100%;
    padding: 30px;
}

.menu-item{
    padding: 15px;
    border-top: solid 1px black;
}

.twitter{
    width: 100%;
    padding: 30px;
}

.copyright{
    padding: 15px;
    text-align: center;
    font-size: small;
}

/* スマホ用 */
@media screen and (max-width:767px)  {
    header{
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        background-color:white;
    }

    .header-container, .pickup-container, .container, .footer-container{
        width: 100%;
        margin: 0 auto;
    }

    .pickup-container, .container, .footer-container{
        display: block;
    }

    .main-area{
        width: 100%;
    }

    .aside-area{
        width: 100%;
    }

    .header-logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hamburger-menu{
        display: block;
    }

    .header-nav ul{
        display: block;
        display: none;
    }
}